<h4>Projects#index</h4>
<p>Find me in app/views/projects/index.html.erb</p>

<h1>Project Student Matcher</h1>

<% if current_user != nil %>
<% if current_user.vip? %>
<h1><%= link_to "Submit a project!", new_project_path %></h1>
<% end %>
<% end %>



<hr>
<% @projects.each do |project| %>
<h2><%= link_to project.title, project_path(project) %></h2>
<div>
Description:
<%= project.description %></div>

<% if project.user_id != nil %>
<div> author user id: <%= project.user_id %></div>
<div> author user id: <%= User.find(project.user_id).email %>
</div>
<% end %>
<% end %>
<hr>